<!-- Main container -->
<div class="container-md">
    <!-- Title items div -->
    <div class="d-flex align-items-center mt-3 mb-3">
        <div class="col col-4 pl-0">
            <span class="pageHeader">Account users</span>
        </div>
        <!-- SearchBox and Button div -->
        <div class="col col-md-8 d-flex justify-content-end align-items-center pr-0">
            <div class="col col-md-6 input-group searchContainer">
                <span class="fas fa-search form-control-feedback"></span>
                <input type="text" class="form-control" placeholder="Search">
            </div>
            <div>
                <button type="button" class="btn btn-primary customBtnSchema">Connect users</button>
            </div>
        </div>
    </div>
    <!-- Container for userlist -->
    <div class="listContainer pt-4">
        <!-- Mass edit and delete buttons -->
        <div class="d-flex align-items-center">
            <div class="col col-4 col-md-2 ml-md-4">
                <span class="listHeader">{{ userSelectedCounter }} users selected</span>
            </div>
            <div class="mr-2">
                <button class="btn btn-outline-secondary btn-sm"><i class="fas fa-pen"></i> Edit</button>
            </div>
            <div>
                <button class="btn btn-outline-secondary btn-sm"><i class="fas fa-trash"></i> Delete</button>
            </div>
        </div>
        <!-- User list -->
        <ul class="list-group list-group-flush">
            <div class="list-group-item text-muted">
                <div class="row d-flex align-items-center">
                    <input type="checkbox" class="col col-1" id="bulkCheck" (change)="bulkChecks($event)">
                    <label class="col col-6 col-md-5 pl-0 mb-0" for="bulkCheck">User</label>
                    <div class="col col-md-6 pl-0" (click)="sortByRole()">
                        <span name="permissionSelect">Permission</span>
                        <small class="ml-1"><i class="fas fa-arrow-down"></i></small>
                    </div>
                </div>
            </div>
            <!-- User rows -->
            <li class="userListItem list-group-item" *ngFor="let user of pageOfItems" [class.selected]="user === selectedUser">
                <div class="row d-flex align-items-center">
                    <input class="checkbox col col-1" type="checkbox" id="userselect" name="userselect" (change)="onUserSelect(user,$event)" [checked]="bulkCheck">
                    <div  class="col col-1 pl-0" >
                        <img src="{{ user.avatar }}" alt="Avatar" class="avatar">
                    </div>
                    <div class="col col-10 col-sm-5 col-md-4 pl-0">
                        <div class="row">
                            <div class="col col-12">
                                <span class="usernameFont">{{ user.name }}</span>
                            </div>
                            <div class="col col-12">
                                <span class="userEmailFont">{{ user.email }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col col-md-3 offset-2 offset-sm-0 pl-0">
                        <h5><span class="badge badge-primary userRoleFont" [ngClass]="getRoleClass(user)">{{ user.role.replace('_', ' ') | titlecase }}</span></h5>
                    </div>
                    <div class="col col-md-2">
                        <div class="row d-flex justify-content-end align-items-center">
                            <div>
                                <button class="editButton btn btn-outline-secondary btn-sm mr-1"><i class="fas fa-pen"></i> Edit</button>
                            </div>
                            <div>
                                <button class="deleteButton btn btn-outline-secondary btn-sm"(click)=deleteUser(user)><i class="fas fa-trash"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Loading spinner -->
            <div class="d-flex justify-content-center align-items-center mt-5 mb-4" *ngIf="isLoading">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </ul>
        <!-- Paginator -->
        <div class="pb-1 pt-3 d-flex justify-content-center">
            <jw-pagination [items]="userList" (changePage)="onChangePage($event)"></jw-pagination>
        </div>
    </div>
</div>